<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.backend.mapper.ClaimVoucherItemMapper">

    <select id="selectByClaimVoucherId" resultType="com.oa.backend.entity.ClaimVoucherItem">
        SELECT id, claim_voucher_id, item, amount, comment
        FROM claim_voucher_item
        WHERE claim_voucher_id = #{claimVoucherId}
        ORDER BY id
    </select>

    <delete id="deleteByClaimVoucherId">
        DELETE FROM claim_voucher_item WHERE claim_voucher_id = #{claimVoucherId}
    </delete>

</mapper>
