<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.backend.mapper.LogMapper">

    <resultMap id="logWithEmployee" type="com.oa.backend.entity.Log">
        <id property="id" column="id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="operationTime" column="operation_time"/>
        <result property="operation" column="operation"/>
        <association property="employee" javaType="com.oa.backend.entity.Employee">
            <result property="name" column="employee_name"/>
        </association>
    </resultMap>

    <select id="selectByEmployeeId" resultMap="logWithEmployee">
        SELECT l.id, l.employee_id, l.operation_time, l.operation,
               e.name AS employee_name
        FROM log l
        LEFT JOIN employee e ON e.id = l.employee_id
        WHERE l.employee_id = #{employeeId}
        ORDER BY l.operation_time DESC
    </select>

</mapper>
