<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oa.backend.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.oa.backend.entity.Employee">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="department_id" property="departmentId"/>
        <result column="post" property="post"/>
        <association property="department" javaType="com.oa.backend.entity.Department">
            <id column="dept_id" property="id"/>
            <result column="dept_name" property="name"/>
            <result column="dept_address" property="address"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        e.id, e.password, e.name, e.department_id, e.post
    </sql>

    <insert id="insert">
        INSERT INTO employee (id, password, name, department_id, post)
        VALUES (#{id}, #{password}, #{name}, #{departmentId}, #{post})
    </insert>

    <update id="update">
        UPDATE employee
        SET name = #{name},
            password = #{password},
            department_id = #{departmentId},
            post = #{post}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>,
            d.id AS dept_id,
            d.name AS dept_name,
            d.address AS dept_address
        FROM employee e
        LEFT JOIN department d ON d.id = e.department_id
        WHERE e.id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>,
            d.id AS dept_id,
            d.name AS dept_name,
            d.address AS dept_address
        FROM employee e
        LEFT JOIN department d ON d.id = e.department_id
    </select>

    <select id="selectByDepartmentAndPost" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>,
            d.id AS dept_id,
            d.name AS dept_name,
            d.address AS dept_address
        FROM employee e
        LEFT JOIN department d ON d.id = e.department_id
        <where>
            <if test="departmentId != null and departmentId != ''">
                AND e.department_id = #{departmentId}
            </if>
            <if test="post != null and post != ''">
                AND e.post = #{post}
            </if>
        </where>
    </select>

    <select id="selectByIdAndPassword" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>,
            d.id AS dept_id,
            d.name AS dept_name,
            d.address AS dept_address
        FROM employee e
        LEFT JOIN department d ON d.id = e.department_id
        WHERE e.id = #{id} AND e.password = #{password}
    </select>
</mapper>
